@import "tailwindcss";

@layer base {
  html {
    @apply bg-[#050505] text-white;
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply antialiased overflow-x-hidden;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* Optional: Custom Selection Color */
::selection {
  @apply bg-white/20 text-white;
}